<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>花花幼儿编程商店</title>
    <script src="../Vue/vue.js"></script>
    <script src="../Vue/vue-router.js"></script>
    <style>@import url(./Css/样式.css);</style>
</head>
<body>
    <template id="Shop">
        <div>
                <h1 align="center">商城界面</h1>
                <table class="TableCss">
                    <!-- 表头 -->
                    <th>序号</th>
                    <th>书籍名称</th>
                    <th>出版日期</th>
                    <th>单价</th>
                    <th>操作</th>
                    <!-- 内容 -->
                    <tr v-for="(item,index) in books">
                    <td >{{item.id}}</td>
                    <td v-text="item.name"></td>
                    <td>{{item.date}}</td>
                    <td >￥{{item.price}}.00</td>
                    <td>
                        <input class="fontcolor" id="delete" type="button"  value="添加" @click="addclick(index)" >
                    </td>
                </table>
                <div id="footer">
                    <router-link to='/Buy' tag="button" class="fontcolor">购物车</router-link>
                    <span>&nbsp;&nbsp;&nbsp;</span>
                    <span>&nbsp;&nbsp;&nbsp;</span>
                    <span>&nbsp;&nbsp;&nbsp;</span>
                    <span>&nbsp;&nbsp;&nbsp;</span>
                </div>
                <p>asdads</p>
        </div>
    </template>

    <template id="purchase">
        <div>
            <h1 align="center">购物车界面</h1>
            <table class="TableCss">
                <!-- 表头 -->
                <th>序号</th>
                <th>书籍名称</th>
                <th>出版日期</th>
                <th>单价</th>
                <th >购买数量</th>
                <th>操作</th>
                <!-- 内容 -->
                <tr v-for="(item,index) in books" :key="item.id">
                <td >{{item.id}}</td>
                <td v-text="item.name"></td>
                <td>{{item.date}}</td>
                <td >￥{{item.price}}.00</td>
                <td>
                    <input id="lose" type="button"  value="-" @click="loseclick(index)">&nbsp;
                    <span>{{item.count}}</span>&nbsp;
                    <input id="add" type="button"  value="+" @click="addclick(index)">
                </td>
                <td>
                    <input class="fontcolor" id="delete" type="button"  value="移除" @click="deleteclick(index)" >
                </td>
            </table>
            <p>asdads</p>
            <p>asdads</p>
            <p>asdads</p>
            <p>asdads</p>
            <p>asdads</p>
            <p>asdads</p>
            <div id="footer">
                <span>总价:</span>
                <span class="Payfontcolor">￥{{totalprice}}</span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <router-link to='/Pay' tag="button" class="fontcolor">支付</router-link>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <span>&nbsp;&nbsp;&nbsp;</span>
            </div>
        </div>
    </template>
    <template id="pay">

        <div>
        <h1 align="center">支付界面</h1>
        <img src="./image/打钱.png" width="380" height="500">
        <span :style="{color:'white'}">asdadsqweqweqwe</span>
        <span  :style="{'font-size':'100px'}">生活不易，J2EE</span>
        <router-link to='/Shop' tag="button" class="fontcolor">返回购买界面</router-link>
        </div>
    </template>
    <div id="app">
        <div>
            <img src="./image/Snipaste.ico" width="100" height="80">
            <span><font size="5px">------------------------------------------</font></span>
            <span class="titlefont" >程序员的编程商店</span>
            <span><font size="5px">-------------------------------------------</font></span>
            <img src="./image/Snipaste.ico" width="100" height="80">
        </div>
        <router-view></router-view>

    </div>






    <script>
        var Shop={
            template:'#Shop',
            data(){
                return{
                    books: [
                    {
                        id: 1,
                        name: '《算法导论》',
                        date: '2006-9',
                        price: 85.00,
                    },
                    {
                        id: 2,
                        name: '《UNIX编程艺术》',
                        date: '2006-2',
                        price: 59.00,
                    },
                    {
                        id: 3,
                        name: '《编程珠玑》',
                        date: '2008-10',
                        price: 39.00,
                    },
                    {
                        id: 4,
                        name: '《代码大全》',
                        date: '2006-3',
                        price: 128.00,
                    },
                    {
                        id: 5,
                        name: '《数据结构》',
                        date: '2012-3',
                        price: 128.00,
                    },
                    {
                        id: 6,
                        name: '《算法设计》',
                        date: '2015-6',
                        price: 128.00,
                    },
                    {
                        id: 7,
                        name: '《计算机组成原理》',
                        date: '2007-3',
                        price: 128.00,
                    },
                    {
                        id: 8,
                        name: '《计算机网络》',
                        date: '2008-11',
                        price: 128.00,
                    }
                ]     
                }
            }
        }
        var Buy={
            template:'#purchase',
            data(){
                return{
                    books: [
                    {
                        id: 1,
                        name: '《算法导论》',
                        date: '2006-9',
                        price: 85.00,
                        count: 1
                    },
                    {
                        id: 2,
                        name: '《UNIX编程艺术》',
                        date: '2006-2',
                        price: 59.00,
                        count: 1
                    },
                    {
                        id: 3,
                        name: '《编程珠玑》',
                        date: '2008-10',
                        price: 39.00,
                        count: 1
                    },
                    {
                        id: 4,
                        name: '《代码大全》',
                        date: '2006-3',
                        price: 128.00,
                        count: 1
                    },
                ],
            }
        },
        methods: {
            addclick:function(index){
                this.books[index].count++
            },
            loseclick:function(index){
                if(this.books[index].count>0)
                this.books[index].count--;
            },
            deleteclick:function(index){
                this.books.splice(index,1)
            }
        },
        computed: {
            'totalprice':function(){
                let numprice=0;
                for(let i=0;i<this.books.length;i++){
                    numprice+=this.books[i].count*this.books[i].price
                }
                    return numprice
            }
        }
    }

        var Pay={
            template:'#pay'
        }


        var routerObj=new VueRouter({
            routes:[
                {path:'/',redirect:'/Shop'},
                {path:'/Shop',component:Shop},
                {path:'/Buy',component:Buy},
                {path:'/Pay',component:Pay}
            ]
        })

        var vm=new Vue({
            el:'#app',
            router:routerObj





        })






    </script>
</body>
</html>