<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/mydream.css">
    <title>mydream</title>
</head>
<body>
    <a href="http://localhost:9999/index">返回我的博客</a>
    <div id="mydream_header">
        <div class="mydream_h_center">
            <div class="mydream_h_left">
                <h3 style="margin-top: 50px; text-align: center; font-size: xx-large;">MyDream</h3>
            </div>
        </div>
    </div>

    <div class="box">
        <p style="text-align: center;">我的梦想</p>
        <ul>
            <li>梦想，可以天花乱坠</li>
            <li>心有多宽，舞台就有多大</li>
            <li>心有多高，梦想就有多远</li>
        </ul>
    </div>

</body>
</html>