<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/mylife.css">
    <title>mylife</title>
</head>
<body>
    <a href="http://localhost:9999/index">返回我的博客</a>
    <div id="mylife_header">
        <div class="mylife_h_center">
            <div class="mylife_h_left">
                <h3 style="margin-top: 50px; text-align: center; font-size: xx-large;">MyLife</h3>
            </div>
        </div>
    </div>

    <div id="div2">
        <div id="photo_box">
            <img src="../static/images/001.jpg">
            <img src="../static/images/002.jpg">
            <img src="../static/images/003.jpg">
            <img src="../static/images/004.jpg">
            <img src="../static/images/005.jpg">
            <img src="../static/images/006.jpg">
            <img src="../static/images/007.jpg">
            <img src="../static/images/008.jpg">
            <img src="../static/images/009.jpg">
            <img src="../static/images/010.jpg">
            <img src="../static/images/011.jpg">
        </div>
    </div>
</body>

</html>