<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/resume.css">
    <title>resume</title>
</head>
<body>
    <a href="http://localhost:9999/index">返回我的博客</a>
<!--    <button id="re">返回上一页面</button>-->
    <!--头部-->
    <div id="resume_header">
        <div class="resume_h_center">
            <div class="resume_h_left">
                <h3 style="margin-top: 50px; text-align: center; font-size: xx-large;">Resume</h3>
            </div>
        </div>
    </div>

    <div class="box">
        <p style="text-align: center;">个人信息</p>
        <ul type="square" style="margin-left:23px;">
            <li>姓名：曾祥文</li>
            <li>出生年月：2002-08</li>
            <li>地址：湖南长沙</li>
            <li>学历：本科</li>
            <li>民族：汉族</li>
        </ul>
    </div>

    <div class="box1">
        <p style="text-align: center;">联系方式</p>
        <ul type="square" style="margin-left:23px;">
            <li>qq:2768817839</li>
            <li>微信:15211434981</li>
            <li>电话:15211434981</li>
            <li>学校:<a href="https://www.csuft.edu.cn" target="_blank">中南林业科技大学</a></li>
            <li>地址:长沙市天心区</li>
        </ul>
    </div>

    <div class="box2">
        <p style="text-align: center;">兴趣爱好</p>
        <ul type="square" style="margin-left:23px;">
            <li>打乒乓球</li>
            <li>敲代码</li>
            <li>看电影</li>
            <li>听音乐</li>
        </ul>
    </div>

    <div class="box3">
        <p style="text-align: center;">特殊技能</p>
        <ul type="square" style="margin-left:23px;">
            <li><a href="https://golang.google.cn/" target="_blank">Golang</a></li>
            <li><a href="https://www.docker.com/" target="_blank">Docker</a></li>
            <li><a href="https://kubernetes.io/" target="_blank">K8s</a></li>
        </ul>
    </div>
</body>
</html>