<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MyBlog</title>
        <link rel="stylesheet" type= "text/css" href="/css/index.css">
    </head>

    <body >
        <a href="http://localhost:9999">返回登录页面</a>
<!--        <button id="re">返回登陆界面</button>-->
<!--头部-->
        <div id="index_header">
            <div class="index_h_center">
                <div class="index_h_left">
                    <h3 style="margin-top: 50px; text-align: center; font-size: xx-large;">MyBlog</h3>
                </div>
            </div>
        </div>

        <div class="box">
            <p style="text-align: center;"><a href="resume.html"><a href="http://localhost:9999/resume"> 个人简历</a></a></p>
<!--            <a href="page1.html">查看个人简历</a>-->
        </div>

        <div class="box1">
            <p style="text-align: center;"><a href="http://localhost:9999/mydream">我的梦想</a></p>
<!--            <a href="page2.html"><img src="o2.jpg" width="190px" height="170"></a>-->
        </div>

        <div class="box2">
            <p style="text-align: center;"><a href="http://localhost:8080/favorite">我的生活</a></p>
<!--            <a href="page3.html"><img src="o3.jpg" width="190px" height="170"></a>-->
        </div>

        <div class="box3">
            <p style="text-align: center;"><a href="http://localhost:9999/learn">学习内容</a></p>
<!--            <a href="page4.html"><img src="o4.jpg" width="190px" height="170"></a>-->
        </div>

        <script>
            var re=document.getElementById('re');
            re.onclick=function(){
                location.href='login.html';
            }
        </script>

    </body>
</html>